/*!
 * Whaaaaaaaaaaaaaaaaaaaaaaaaaaaa
 *
 *
 *
 */
@import "compass/reset";
@import "compass";
@import "normalize";
@import "variables";
@import "mixins";
@import "base";

#mainContent {
    padding-top: 25px;
    width: 50%;
    @media (max-width: $screen-sm-max) {
        width: 100%;
    }
    h1 {
        font-size: 100px;
        line-height: 80px;
        @media (max-width: $screen-sm-max) {
            font-size: 60px;
        }
        font-family: $fontFamilyBold;
        margin-top: 15px;
        margin-bottom: 15px;
        //@include text-shadow(1px 5px 5px #222);
    }
}

footer {
    padding-top: 30px;
}
