@import "compass/reset";
@import "compass";
@import "normalize";
@import "variables";
@import "mixins";
@import "base";

#mainContent {
    padding-top: 25px;
    width: 50%;
    h1 {
        font-size: 100px;
        line-height: 80px;
        font-family: $fontFamilyBold;
        margin-top: 0;
        margin-bottom: 15px;
        @include text-shadow(1px 2px 5px #444);
        @media (max-width: $screen-sm-max) {
            font-size: 60px;
            line-height: 50px;
            margin-bottom: 5px;
        }
    }
    #eml {
        font-size: 24px;
        margin-bottom: 5px;
    }
    @media (max-width: $screen-sm-max) {
        width: 100%;
    }
}

footer {
    padding-top: 30px;
}
